.userlist{
    width: 100%;
    max-width: 1800px;
    margin: 5px auto;
    padding: auto;
    background-color: rgb(202, 39, 39);
}
.userbox{
    width: 180px;
    height: 220px;
    border: 1.5px solid white;
}